.div{
    margin-top: 100px;
}
.container{
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 1500px;
}
.subcontainer{
    width: 80%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}
.card{
    background-color: var(--bg-card);
    border-radius: 8px;
    color: var(--text-color);
    border: 1px solid rgb(233, 219, 219);
    
}
.div1{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
}
.div1 span{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: dodgerblue;
    color: white;
}
.card div div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card div div h3, .card div div p{
    margin: 0px;

}
.p{
    color: gray;
}
.second {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.pie{
    width:45%;
    color: var(--text-color);
    background-color: var(--bg-card);
    border-radius: 10px;
    
    border: 1px solid rgb(233, 219, 219);
    
}
.bar{
     width:48%;
    color: var(--text-color);
    background-color: var(--bg-card);
    border-radius: 10px;
    border: 1px solid rgb(233, 219, 219);
    
}    
.third{
    width: 80%;
    background-color: var(--bg-card);
    color: var(--text-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    border: 1px solid rgb(233, 219, 219);
}
.chart{
   height: 300px;
}
.pies{
    height: 300px;
}
.recent h3 , .recent p{
    margin: 0px;
}
.recent p{
    color: dodgerblue;
    font-size: 18px;
    cursor: pointer;
}
.recent{
    width: 90%;
     display: flex;
    justify-content: space-between;
}
.table{
    width: 100%;
}
@media(max-width:768px){
    .subcontainer{
        width: 95%;
    }
    .second{
        flex-direction: column;
        width: 95%;
        gap: 20px;
    }
    .chart{
        width: 100%;
    }
    .pies{
        width: 100%;
    }
    .pie{
        width: 100%;
    }
    .bar{
        width: 100%;
    }
    .third{
        width: 95%;
    }
}