.container{
    margin-top: 120px;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 20px;
}
.main{
    width: 100%;
    display: flex;
    gap: 30px;
    align-self: stretch;
    justify-content: center;
}
.first{
    background-color: var(--bg-card);
    color: var(--text-color);
    max-width: 300px;
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
     border: 1px solid rgb(233, 219, 219);
    border-radius: 8px;
}
.avatar{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar img{
    width: 100%;
    border-radius: 50%;
}
.div1{
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-bottom: 1px solid rgb(182, 179, 179);
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.info h3, .info p{
    margin: 0px;
}
.div2,.div3,.div4{
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 10px;
}
.div2 p, .div3 p, .div4 p{
    margin: 0px;
}
.div2 div, .div3 div, .div4 div{
    display: flex;
    align-self: end;
    justify-content: center;
    gap: 10px;
}
.div2 div span, .div3 div span, .div4 div span{
    color: dodgerblue;
}
.div5 div span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    color: rgb(97, 95, 95);
}
.second{
    background-color: var(--bg-card);
    color: var(--text-color);
    max-width: 500px;
    width: 100%;
    border-radius: 8px;
     border: 1px solid rgb(233, 219, 219);
     padding: 15px;
}
.div5{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.div5 label{
    font-weight: 600;
}
.div5 div{
    border: 1px solid rgb(219, 217, 217);
    height: 30px;
    display: flex;
    align-self:stretch;
    padding: 5px;
    border-radius: 4px;
    gap: 10px;
}
.div5 div input{
    width: 92%;
    border: none;
    outline: none;
    background-color: var(--bg-card);
    color: var(--text-color);
}
.div5 div span{
    width: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--profile-color);
}
.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.h3{
    margin: 0px;
}
.btn{
    height: 35px;
    
}
.subcontainer{
    height: 50%;
    display: grid;
    
}
.btn button{
    width: 100%;
    height: 100%;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 17px;
}
.div7{
    display: flex;
    gap: 20px;
}
.div7 div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.div7 span{
    border-radius: 50%;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div7 div h3, .div7 div p{
    margin: 0px;
}
.third{
    width: 100%;
    max-width: 860px;
    background-color: var(--bg-card);
    color: var(--text-color);
    padding: 30px 15px;
     border-radius: 8px;
     border: 1px solid rgb(233, 219, 219);
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.h5{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: dodgerblue;
    transition: 0.5s ease-out;
} 
.h6{
    display: none;
}
.third span{
    color: dodgerblue;
    background-color: rgb(126, 184, 241);
    border: none;
}
.password button{
    border: 2px solid dodgerblue;
    color: dodgerblue;
    background-color: white;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
    height: 30px;
    width: 150px;
    cursor: pointer;
}
.contain{
    position: fixed;
    background-color: var(--modal-color);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.contains{
    visibility: hidden;
}
.forms{
    margin: 100px auto;
    background-color: var(--bg-card);
    color: var(--text-color);
    max-width: 400px;
    width: 100%;
    border-radius: 4px;
    padding: 15px;
}
.forms h3{
    margin: 0px;
}
.forms form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.forms label{
    font-family: Arial, Helvetica, sans-serif;
}
.forms input{
    height: 30px;
    border-radius: 4px;
    outline: none;
    background-color: var(--bg-card);
    color: var(--text-color);
    border: 1px solid rgb(173, 171, 171);
    padding-left: 15px;
}

.forms button{
    height: 35px;
    border-radius: 4px;
    border: 1px solid rgb(137, 187, 238);
    background-color: dodgerblue;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.div{
display: flex;
flex-direction: column;
gap: 5px;
}
.how{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.span{
    cursor: pointer;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.span:hover{
    background-color: var(--btn-color);
}
.message{
    background-color: dodgerblue;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
      position: fixed;
        top: 0;
        left: 0;
        right: 0;
}
.messages{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: dodgerblue;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    visibility: hidden;
}
@media(max-width:786px){
    .main{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .container{
        padding: 10px;
    }
    .first{
        width: 90%;
        max-width: 100%;
    }
    .third{
        width: 90%;
        max-width: 100%;
         flex-direction: column;
        gap: 20px;
    }
    .second{
        width: 90%;
        max-width: 100%;
    }
    .div1{
        padding-bottom: 15px;
    }
    .div7{
        width: 100%;
        gap: 10px;
       
    }
    .password{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
    }
    .forms{
        width: 80%;
        max-width: 100%;
    }
    .message{
        height: 70px;
    }
}
