.container{
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: var(--modal-color);
    right: 0;
    left: 0;
    z-index: 1000;
}
.containers{
    visibility: hidden;
}
.subcontainer{
    margin: 100px auto;
    width: 100%;
    max-width: 300px;
    background-color: var(--bg-card);
    border-radius: 8px;
    padding: 10px;
    color: var(--text-color);
    border: 1px solid white;
}
.subcontainer h3{
    width: 100%;
    line-height: 25px;
}
.message{
    background-color: rgb(250, 13, 13);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.messages{
     background-color: rgb(250, 13, 13);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    visibility: hidden;
}
.span{
    border: 1px solid hsl(0,0%,80%);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 30px;
    font-weight: 500px;
    font-weight: bold;
    cursor: pointer;
}
.span:hover{
    background-color: var(--btn-color);
}
.subcontainer div{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    width: 90%;
}